body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(255, 247, 9)0%, rgb(240, 221, 6)100%);
    font-size: 3rem;
    min-width: 80rem;
}